
// Responsive trickery!
// -------------------------
@standard-def : '(-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi), (max-resolution: 1.5dppx)';
@retina : '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.49dppx)';

@small-phone: #{(480 / 16)}em;
@large-phone: #{(640 / 16)}em;
@small-tablet: #{(800 / 16)}em;
@large-tablet: #{(960 / 16)}em;
@small-laptop: #{(1120 / 16)}em;
@medium-laptop: #{(1280 / 16)}em;
@large-laptop: #{(1440 / 16)}em;
@small-desktop: #{(1600 / 16)}em;
@medium-desktop: #{(1760 / 16)}em;
@large-desktop: #{(1920 / 16)}em;

